@import "./styles/theme.css";
@import "./styles/base.css";
@import "./styles/effects.css";

@import "./styles/components/buttons.css";
@import "./styles/components/inputs.css";
@import "./styles/components/cards.css";
@import "./styles/components/tables.css";
@import "./styles/components/sidebar.css";
@import "./styles/components/modals.css";
@import "./styles/components/menus.css";

@import "./styles/pages/auth.css";
@import "./styles/pages/vault.css";
@import "./styles/pages/layout.css";
